<!DOCTYPE html>
<html>
  <head>
    <title>PQR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>

 <footer class="page-footer blue darken-3">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l6">
          <h5> <i class="fas fa-universal-access"></i> Sistema PQRs</h5>
          <p style="font-weight: 200;"><big>Universidad del Magdalena</big></p>
        </div>
        <div class="col hide-on-small-only l2"></div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
       <div class="row">
        <div class="col l6">
          <h5>Powered by:</h5>
               <a class="grey-text text-lighten-2" href="https://github.com/ibanb04"><i class="fab fa-github fa-2x"></i> Ivan Bettin</a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      </div>
    </div>
  </footer>
</html>
